body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

.card {
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 50px auto;
	max-width: 600px;
	padding: 20px;
}

.header h1 {
	font-size: 32px;
	margin: 0 0 10px;
}

.header p {
	font-size: 18px;
	margin: 0;
}

.body img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
}

.body p {
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 20px;
}

.footer p {
	font-size: 18px;
	margin: 0;
}

.footer p:last-child {
	font-weight: bold;
}
